body{
    margin-top: 200px;
    text-align: center;
}
img{
    display: block;
    margin-bottom: 50px;
    margin: 0px auto 50px;
    /* width: 190px; */
    height: 290px;
}
button{
    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
}
#onBtn {
    color: white;
    background-color: coral;
}
#ofBtn {
    color: black;
    background-color: cyan;
}

